<div class="container-fluid">
    <div class="row align-items-center py-5">
        <div class="col-md-7 text-start">
            <h2 class="fw-bold display-5 text-dark m-0">
                The lost city of <span class="text-muted">Tartaria.</span>
            </h2>
            <p class="lead text-secondary mt-3 mb-0">
                The historic and futuristic city of Tartaria sparks the fascination of researchers and the curious alike
                due to its ancient structures and technologies lost in time. Through this conceptual map, we explore the
                remains of an advanced civilization whose classical architecture and mysteries continue to challenge the
                official records of modern history
            </p>
        </div>

        <div class="col-md-5 text-center mt-4 mt-md-0">
            <img src="assets/img/Gemini_Generated_Image_51sk7751sk7751sk.png" alt="The lost city of Tartaria"
                class="img-fluid rounded-circle" style="width: 300px; height: 300px; object-fit: cover;">
        </div>
    </div>
</div>

<div class="container-fluid bg-light">

</div>
<div class="col-md-7 text-start">
    <h2 class="fw-bold display-5 text-dark m-0">
        The lost empires <span class="text-muted">Of The Ancient World.</span>
    </h2>
    <p class="lead text-secondary mt-3 mb-0">
        Many old maps from the 1800s showed Tartaria as a giant country in Asia. People on the internet today love to
        study these documents to find out why it completely disappeared from modern history books and school lessons.
    </p>
</div>