<!-- your html code here -->
<div class="container mt-5" id="portfolio">

    <div class="contact-text">
        <h1 class="display-4 fw-bold">
            Cosmic Civilization
        </h1>
        <h5 class="text-secondary mt-3">
            A great civilization with super advanced technology and built structures that go beyond human understanding,
            since apparently each building they created gathered energy from ether or from the very air we breathe every
            day. What happened to them? Where did those intelligent buildings go? Where are all those years of history?
            Was it all buried? Did someone take care of altering history? If so, who, how, and with what purpose would
            someone bury such technological advances? Could these secrets be hidden in the Vatican?
        </h5>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <img src="assets/img/tartaria_mystery.jpeg" class="img-fluid mb-3"
                style="height: 250px; width: 100%; object-fit: cover;" alt="Project 1">
            <h5 class="text-primary">Forgotten Empire maps</h5>
            <p> Who will have the history books? It seems as if an entire nation disappeared overnight, not just from
                the map, but also from the face of the earth.
                In several old Atlas books and lost journals, they describe Tartary as a great empire. Did we
                forget about that?</p>

        </div>
        <div class="col-md-4">
            <img src="https://th.bing.com/th/id/OIP.FSORkcT4aTHxDaa_jp7ZSAHaFX?w=224&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3"
                class="img-fluid mb-3" style="height: 250px; width: 100%; object-fit: cover;" alt="Project 2">
            <h5 class="text-primary">
                Underground city</h5>
            <p> Have you ever wondered what is beneath our feet, while we walk, while we go to work or to school?
                Have we been building on top of Tartaria for centuries?
                Every underground drilling in big cities reveals a layer of underground buildings.</p>
        </div>
        <div class="col-md-4">
            <img src="https://th.bing.com/th/id/OIP.WMbGIZAJ1t5lwPqvQ8jcugHaEK?w=289&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3"
                class="img-fluid mb-3" style="height: 250px; width: 100%; object-fit: cover;" alt="Project 3">
            <h5 class="text-primary">Tunnels
            </h5>
            <p> Most of the tunnels we are using today are showing to have been discovered, not created by
                us. We're just using a discovery from a piece of Tartaria. Kilometer-long tunnels that were
                left to us as an inheritance for our trains and subways.</p>
        </div>

    </div>

</div>