<div class="container-fluid">
    <div class="row align-items-center py-5">
        <div class="col-md-5 text-center mt-4 mt-md-0">
            <img src="assets/img/tartaria.jpg" alt="The lost empires of The Ancient World" class="img-fluid rounded-circle"
                style="width: 300px; height: 300px; object-fit: cover;">
        </div>
        <div class="col-md-7 text-start">
            <h2 class="fw-bold display-5 text-dark m-0">
                The lost empires of <span class="text-muted">The Ancient World.</span>
            </h2>
            <p class="lead text-secondary mt-3 mb-0">
                The lost empires of the ancient world. continue to captivate historians and enthusiasts alike, with their
                monumental structures and advanced technologies that challenge our understanding of history. Through this
                conceptual map, we delve into the remnants of these civilizations, exploring their architectural marvels
                and the mysteries that surround them.
            </p>
        </div>
    </div>
</div>