<div class="hero position-relative vh-100 overflow-hidden">

    <video autoplay muted loop playsinline class="position-absolute w-100 h-100 object-fit-cover">
        <source src="assets/video/tartaria.mp4" type="video/mp4">
    </video>

    <div class="position-relative d-flex flex-column justify-content-center align-items-center h-100 text-center">
        <div class="hero">
            <h1 class="display-1 px-4">
                The world of Tartaria
            </h1>

            <h2 class="display-5  px-4">
                Real history or conspiracy theory?
            </h2>
        </div>
    </div>

</div>